%h1 Class: #{resource.label}

%p
  %label Identifier:
  #{resource.identifier}
%p
  %label Name:
  #{resource.label}
%p
  %label URI:
  %code=category_url(resource)

%h2 Description
%p=resource.comments.first.comment_body

%h2 Class Hierarchy

%p
  %label Superclasses:
  -resource.super_classes.each do |c|
    =link_to c.label, category_path(c)
%p
  %label Subclasses:
  -resource.sub_classes.each do |c|
    =link_to c.label, category_path(c)

%h2 Related Properties (Domain Specifications)

%p This class has been declared to be a domain for the following properties:
%ul
  -resource.domain_specifications.each do |spec|
    %li
      =link_to spec.property.label, spec.property
      =raw("&rarr;")
      =spec.property.range_specifications.collect{ |r| r.category.label }.join(", ")

-resource.super_classes.each do |c|
  %h3
    Inherited by
    =succeed ":" do
      =link_to c.label, category_path(c)
  %ul
    -c.domain_specifications.each do |spec|
      %li
        =link_to spec.property.label, spec.property
        =raw("&rarr;")
        =spec.property.range_specifications.collect{ |r| r.category.label }.join(", ")
      
%h2 Inverse Properties (Range Specifications)
%p This class acts as range for the following properties:
%ul
  -resource.range_specifications.each do |spec|
    %li
      =link_to spec.property.label, spec.property
      =raw("&larr;")
      =spec.property.domain_specifications.collect{ |r| r.category.label }.join(", ")

%h2 RDF Representation

%pre.example
  :escaped
    <rdf something="else">
      <rdf:Description>
        ...
      </rdf:Description>
    </rdf>
